.bar {
  background-image: url(./../assets/images/grenery.jpg);
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  padding-block: 4.8rem;
  .container {
    transform: scaleX(-1);
    gap: 1.2rem;
    .arrow {
      transform: rotate(90deg);
      width: 1.5rem;
    }
    img:first-child {
      width: 1.6rem;
    }
    p {
      color: $primary-green;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      letter-spacing: 0%;
    }
  }
}

.cart {
  * {
    button {
      cursor: pointer;
    }
  }
  &-main {
    gap: 2.4rem;
    margin-top: 3.2rem;
    align-items: start;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  h5 {
    text-align: center;
  }
  margin-block: 4rem 8rem;

  &-left {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    table {
      text-align: left;
      border: 1px solid #e6e6e6;
      padding: 2rem;
      border-radius: 2rem;
      * {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0%;
      }
      th {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 3%;
        text-transform: uppercase;
        color: #808080;
        padding: 2rem;
      }
      td {
        padding: 2rem;
        border-block: 1px solid #e6e6e6;
        border-width: 80%;
        &.flex {
          img {
            width: 10rem;
            object-fit: cover;
            @media (max-width: 460px) {
              width: 7rem;
            }
          }

          padding-right: 13rem;
          @media (max-width: 520px) {
            padding-right: 3rem;
          }
          gap: 1.2rem;
        }
      }

      .number {
        padding-right: 6.2rem;
        @media (max-width: 520px) {
          padding-right: 3rem;
        }
        .count {
          gap: 0.6rem;
          align-items: center;
          border: 1px solid #e6e6e6;
          padding: 0.8rem;
          border-radius: 17rem;
          button {
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            border-radius: 50%;
            font-size: 1.6rem;
            &:hover {
              background-color: $gray-200;
            }
            &:active {
              background-color: $gray-400;
              color: $primary-white;
            }
          }
          p {
            width: 4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
          }
        }
      }
      .price {
        padding-right: 6.5rem;
        @media (max-width: 520px) {
          padding-right: 3rem;
        }
      }

      .delete {
        button {
          border: 1px solid #cccccc;
          border-radius: 50%;
          width: 2.2rem;
          height: 2.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      tr:last-child {
        button {
          padding: 1.4rem 3.2rem;
          background-color: #f2f2f2;
          font-size: 1.4rem;
          border-radius: 4.3rem;
          font-weight: 600;
          border: none;
          transition: all 0.3s;

          &:hover {
            background-color: #80808096;
            transform: scale(1.05);
            box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.256);
          }
          &:active {
            background-color: #403e3e;
            color: white;
          }
        }
      }
    }
    &_bottom {
      display: flex;
      border: 1px solid #e6e6e6;
      padding: 2rem;
      justify-content: space-between;
      align-items: center;
      position: relative;
      * {
        font-weight: 500;
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: 0%;
      }

      input {
        width: 75%;
        border: 1px solid #e6e6e6;
        padding: 1.4rem 2.4rem;
        border-radius: 4.6rem;
        right: 2rem;
        position: absolute;
        z-index: 1;
      }
      button {
        padding: 1.6rem 4rem;
        background-color: #333333;
        color: white;
        height: 100%;
        border-radius: 4.3rem;
        font-size: 1.6rem;
        cursor: pointer;
        z-index: 4;
      }
    }
  }
  &-right {
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 2.4rem;
    width: 100%;

    h6 {
      font-weight: 500;
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0%;
      margin-bottom: 1rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      padding-block: 1.2rem;
      &:nth-child(3) {
        border-block: 1px solid #e5e5e5;
      }
      p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        letter-spacing: 0%;
        color: $gray-700;
      }
      b {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 150%;
        letter-spacing: 0%;
      }
    }
    button {
      width: 100%;
      padding-block: 1.6rem;
      background-color: $primary-green;
      border-radius: 4.3rem;
      color: white;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 120%;
      letter-spacing: 0%;
      margin-top: 2rem;
      transition: all 0.3s;
      &:hover {
        box-shadow: 10px 10px 10px gainsboro;
      }
      &:active {
        background-color: #016505;
      }
    }
  }
}
