.hero {
  margin-block: 2.4rem;
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  @media (max-width: 880px) {
    flex-direction: column;
  }
  &-left {
    @media (max-width: 880px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      background-position: center;
    }
    width: 70%;
    background-image: linear-gradient(
        98.82deg,
        rgba(0, 0, 0, 0.6) 10.4%,
        rgba(0, 0, 0, 0) 59.43%
      ),
      url(./../assets/images/smilingGirl.jpg);

    padding: 15rem 6rem;
    border-radius: 10px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      font-family: $poppins;
      font-weight: 600;
      font-size: 4.8rem;
      line-height: 120%;
      letter-spacing: 0%;
      color: $primary-white;
      width: 50%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .xl {
      font-family: $poppins;
      font-weight: 500;
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0%;
      color: $primary-white;
      span {
        padding: 0.4rem 1.2rem;
        background-color: $primary-orange;
        border-radius: 0.5rem;
      }
    }
    p.small {
      font-family: $poppins;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 150%;
      letter-spacing: 0%;
      color: $primary-white;
    }
    div {
      margin-block: 2.8rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      border-left: 2px solid $primary-green;
      padding-left: 1.2rem;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    @media (max-width: 880px) {
      flex-direction: row;
      width: 100%;
    }
    gap: 2.4rem;
    width: 30%;
    &_top {
      @media (max-width: 880px) {
        width: 50%;
        height: 100%;
      }
      height: 50%;
      background-image: url(./../assets/images/shopper.png);
      border-radius: 1rem;
      padding: 3.2rem;
      .btn {
        padding: 0;
        margin-top: 2.4rem;
      }

      p.small {
        color: $gray-600;
      }

      .uppercase {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 3%;
        text-transform: uppercase;
      }
      h5 {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 120%;
        letter-spacing: 0%;
        margin-block: 0.8rem 1.2rem;
      }
    }
    &_bottom {
      @media (max-width: 880px) {
        width: 50%;
        height: 100%;
      }
      height: 50%;
      padding-block: 2rem;
      background-image: url(./../assets/images/leaves.png);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      color: $primary-white;
      h5 {
        width: 80%;
      }
    }
  }
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.699);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: translateX(100vw);

  &.openedX {
    transform: translateX(0);
  }

  .drawer-box {
    background-color: white;
    width: 40rem;
    height: 100%;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(500px);
    transition: all 0.3s ease;
    &.openedX {
      transform: translateX(0);
    }
    .absolute {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    h2 {
      font-weight: 500;
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0%;
    }
    .drawer-bar {
      &:last-child {
        border-bottom: none;
      }
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e6e6e6;
      img {
        width: 30%;
      }
      div {
        width: 60%;
        p {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;
          letter-spacing: 0%;
        }
        b {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;
          letter-spacing: 0%;
          color: #808080;
          span {
            font-weight: 600;
            color: #1a1a1a;
          }
        }
      }
      button {
        font-size: 1.4rem;
        padding: 0.8rem;
        border: 1px solid #cccccc;
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .drawer-bottom {
      display: flex;
      flex-direction: column;
      &_top {
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
          letter-spacing: 0%;
        }
        b {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 120%;
          letter-spacing: 0%;
        }
      }
      button {
        width: 100%;
        padding-block: 1.6rem;
        background-color: #56ac591a;
        color: $primary-green;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 0%;
        border: none;
        border-radius: 4.3rem;
        &.checkout {
          background-color: $primary-green;
          color: white;
          margin-block: 2.4rem 1.2rem;
        }
      }
    }
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.699);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  &.openedY {
    transform: translateY(0);
  }
  * {
    button {
      cursor: pointer;
    }
  }

  .modal-box {
    width: 55%;
    transform: translateY(-100vh);
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    aspect-ratio: 16/6;
    &.openedY {
      transform: translateY(0);
    }
    .absolute {
      top: 2rem;
      right: 2rem;
    }
    img {
      width: 40%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    h2 {
      font-weight: 600;
      font-size: 4rem;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: center;
    }
    .check {
      justify-self: center;
      margin-top: 4rem;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 150%;
      letter-spacing: 0%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #666666;
    }
    p {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      color: #999999;
      padding-inline: 4rem;
      margin-block: 1rem 2.1rem;
      span {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: $primary-orange;
      }
    }
    .input {
      display: flex;
      width: 80%;
      justify-content: center;
      margin-inline: auto;
      padding-left: 0rem;
      border: 1px solid #e6e6e6;
      border-radius: 3rem;
      justify-content: space-between;
      input {
        width: 65%;
        padding-left: 2rem;
        outline: none;
      }

      button {
        padding: 1rem 2.2rem;
        border-radius: 3rem;
        background-color: $primary-green;
        width: 30%;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 20px;
        letter-spacing: 0%;
        color: white;
      }
    }
  }
}

.qualities {
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 40px 0px #00260314;
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 4rem;
  justify-content: space-between;
  @media (max-width: 690px) {
    flex-wrap: wrap;
    gap: 2rem;
    align-items: starts;
  }

  &-box {
    gap: 1.6rem;
    b.medium {
      font-size: 1.6rem;
      color: $gray-800;

      font-weight: 600;
      font-size: 1.6rem;
      line-height: 120%;
      letter-spacing: 0%;
    }

    p.small {
      color: $gray-400;
      font-size: 1.4rem;
    }
    img {
      width: 3.5rem;
    }
  }
}

.categories {
  margin-block: 6rem;
  &-top {
    .btn {
      padding: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.2rem;
    justify-content: space-between;
    row-gap: 2.4rem;
    &_box {
      width: 20rem;
      img {
        width: 80%;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.6rem;
      padding: 2rem 0 2.9rem;
      border: 1px solid #e6e6e6;
      border-radius: 0.5rem;
    }
  }
}

.popular {
  margin-block: 6rem;
  &-top {
    .btn {
      padding: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_box {
      position: relative;
      width: 26rem;
      border: 1px solid #e6e6e6;
      padding: 1.2rem;
      p.small {
        color: $gray-700;
      }
      .position {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        background-color: $gray-200;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: centers;
        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.deals {
  display: flex;
  gap: 2.4rem;
  @media (max-width: 1100px) {
    flex-direction: column;
  }

  &-box {
    width: 33%;
    @media (max-width: 1100px) {
      width: 100%;
      justify-content: center;
      padding-bottom: 4rem;
    }
    border-radius: 0.8rem;
    padding-block: 3.5rem 29rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .uppercase {
      color: $primary-white;
    }
    h3 {
      font-weight: 600;
      font-size: 4rem;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: center;
      color: $primary-white;
      margin-block: 1.6rem 0.8rem;
    }
    .btn {
      margin-top: 2.4rem;
    }
    &.first {
      background-image: url(./../assets/images/avocado.png);

      .time {
        width: 70%;
        &-top {
          p {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            color: $primary-white;
          }
        }
        &-bottom {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 100%;
          letter-spacing: 3%;
          text-align: center;
          text-transform: uppercase;
          color: $primary-white;
          opacity: 0.8;
        }
      }
    }
    &.second {
      background-image: url(./../assets/images/meat.png);
      .large {
        color: $primary-white;
        span {
          color: $primary-orange;
        }
      }
    }
    &.third {
      background-image: url(./../assets/images/pokaDots.png);
      .uppercase,
      h3 {
        color: $gray-800;
      }
      span {
        background-color: $gray-800;
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        color: $primary-yellow;
      }
    }
  }
}

.hot {
  margin-block: 12rem;
  &-top {
    .btn {
      padding-right: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "big big one two three"
      "big big four five six"
      "seven eight nine ten eleven";
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        "big big one"
        "big big two"
        "three four five"
        "six seven eight"
        "nine ten eleven";
      row-gap: 3rem;
      gap: 3rem;
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-template-areas:
        "big big"
        "big big"
        "one two"
        "three four"
        "five six"
        "seven eight"
        "nine ten "
        "eleven .";
    }
    &_box {
      position: relative;
      width: 26rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #e6e6e6;
      padding: 1.2rem;
      @media (max-width: 550px) {
        width: 100%;
      }
      p.small {
        color: $gray-700;
      }
      &.big {
        width: 100%;
        height: 65rem;
        grid-area: big;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1200px) {
          .main {
            width: 70%;
          }
        }
        .btn {
          background-color: $primary-green;
          color: $primary-white;
          width: 80%;
          display: flex;
          justify-content: center;
        }
        .large {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 150%;
          letter-spacing: 0%;
          text-align: center;
          color: $primary-green;
          margin-block: 2.4rem 0.8rem;
        }
        .price {
          font-weight: 500;
          font-size: 2.4rem;
          line-height: 150%;
          letter-spacing: 0%;
        }
        .aware {
          font-family: Poppins;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.8rem;
          letter-spacing: 0%;
          text-align: center;
          color: $gray-600;
          margin-block: 2rem 1rem;
        }
        .time {
          margin-bottom: 4rem;

          width: 70%;
          &-top {
            p {
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 150%;
              letter-spacing: 0%;
              text-align: center;
              color: $gray-700;
            }
          }
          &-bottom {
            font-weight: 400;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: uppercase;
            color: $gray-600;
            opacity: 0.8;
          }
        }
      }
      .position {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        background-color: $gray-200;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: centers;
        img {
          width: 1.5rem;
        }
      }
    }
    .one {
      grid-area: one;
    }
    .two {
      grid-area: two;
    }
    .three {
      grid-area: three;
    }
    .four {
      grid-area: four;
    }
    .five {
      grid-area: five;
    }
    .six {
      grid-area: six;
    }
    .seven {
      grid-area: seven;
    }
    .eight {
      grid-area: eight;
    }
    .nine {
      grid-area: nine;
    }
    .ten {
      grid-area: ten;
    }
    .eleven {
      grid-area: eleven;
    }
  }
}

.sale {
  background-image: url(./../assets/images/grenery.jpg);
  padding-block: 6rem;
  border-radius: 1rem;
  color: $primary-white;
  background-size: cover;
  margin-bottom: 6rem;
  background-position: center;
  padding-left: 50%;
  @media (max-width: 500px) {
    padding-left: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 5.6rem;
    font-weight: 600;
    span {
      color: $primary-orange;
    }
  }
  .medium {
    font-size: 1.6rem;
    color: $gray-200;
  }
  .btn {
    background-color: $primary-green;
    color: $primary-white;
    margin-top: 2rem;
  }
}

.featured {
  margin-block: 6rem;
  &-top {
    .btn {
      padding: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: flex;

    margin-top: 3.2rem;
    justify-content: space-between;
    row-gap: 2.4rem;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &_box {
      position: relative;
      width: 26rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #e6e6e6;
      padding: 1.2rem;
      @media (max-width: 1200px) {
        width: 20rem;
      }

      p.small {
        color: $gray-700;
      }
      &.big {
        width: 100%;
        height: 65rem;
        grid-area: big;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1200px) {
          .main {
            width: 70%;
          }
        }
        .btn {
          background-color: $primary-green;
          color: $primary-white;
          width: 80%;
          display: flex;
          justify-content: center;
        }
        .large {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 150%;
          letter-spacing: 0%;
          text-align: center;
          color: $primary-green;
          margin-block: 2.4rem 0.8rem;
        }
        .price {
          font-weight: 500;
          font-size: 2.4rem;
          line-height: 150%;
          letter-spacing: 0%;
        }
        .aware {
          font-family: Poppins;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.8rem;
          letter-spacing: 0%;
          text-align: center;
          color: $gray-600;
          margin-block: 2rem 1rem;
        }
        .time {
          margin-bottom: 4rem;

          width: 70%;
          &-top {
            p {
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 150%;
              letter-spacing: 0%;
              text-align: center;
              color: $gray-700;
            }
          }
          &-bottom {
            font-weight: 400;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: uppercase;
            color: $gray-600;
            opacity: 0.8;
          }
        }
      }
      .position {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        background-color: $gray-200;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: centers;
        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.news {
  * {
    text-align: left;
  }
  margin-bottom: 6rem;
  &-bottom {
    justify-content: space-between;
    @media (max-width: 740px) {
      flex-direction: column;
    }
    &_box {
      @media (max-width: 740px) {
        width: 100%;
      }
      border: 1px solid #e5e5e5;
      .main {
        @media (max-width: 740px) {
          width: 100%;
          object-fit: cover;
          height: 20rem;
          object-position: center;
          border-radius: 10px 10px 0 0;
        }
      }
      .absolute {
        background-color: $primary-white;
        color: $gray-700;
        top: 47%;
        @media (max-width: 1200px) {
          top: 30%;
        }
        left: 2rem;
        padding: 0.6rem 1.9rem 1rem;
        border-radius: 4px;
        p:first-child {
          font-size: 2rem;
          font-weight: 500;
        }
        p:last-child {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      width: 32%;
      .box-bottom {
        padding: 2.4rem;
        img {
          width: 1.6rem;
        }
        .top {
          gap: 1.6rem;

          p {
            gap: 0.3rem;
            font-size: 1.4rem;
            color: $gray-700;
          }
        }
        .large {
          text-align: left;
          margin-block: 0.8rem 1rem;
        }
        .btn {
          padding-left: 0;
        }
      }
    }
  }
}

.testimonials {
  background-color: #f2f2f2;
  padding-block: 6rem;
  &-bottom {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      row-gap: 2rem;
      align-items: center;
      justify-content: center;
    }
    &_box {
      width: 32%;
      @media (max-width: 850px) {
        width: 80%;
        align-self: center;
      }
      background-color: $primary-white;
      box-shadow: 0px 10px 20px 0px #00000003;
      padding: 2.4rem;
      border-radius: 0.8rem;
      p.small {
        font-size: 1.4rem;
        color: $gray-700;
        margin-block: 1.6rem;
      }
      .bottom {
        .pic {
          width: 5rem;
          border-radius: 50%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
        .name {
          margin-inline: 1.2rem 10rem;
          @media (max-width: 1200px) {
            margin-inline: 2rem;
          }
          b {
            font-size: 1.6rem;
            font-weight: 500;
            color: $gray-800;
          }
          p {
            font-size: 1.4rem;
            color: $gray-400;
          }
        }

        .star {
          gap: 0.4rem;
          img {
            width: 1.6rem;
          }
        }
      }
    }
  }
}

.logos {
  margin-block: 6rem;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
    row-gap: 3rem;
    justify-content: center;
  }
  img {
    transform: scale(1);
    padding-inline: 8rem;
    @media (max-width: 700px) {
      transform: scale(0.5);
      padding-inline: 0;
    }
  }
  .border {
    border-inline: 1px solid #e5e5e5;
    border-block: none;
  }
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;

  &-bottom {
    display: flex;

    margin-top: 3rem;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      justify-content: space-evenly;
    }
    gap: 2rem;
    img {
      width: 20rem;
      aspect-ratio: 1/1;
      border-radius: 1rem;
      object-fit: cover;
    }
  }
}

.subscribe {
  background-color: #f7f7f7;
  padding-block: 4rem;

  .container {
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    }
  }
  &-left {
    width: 30%;
    @media (max-width: 800px) {
      width: 80%;
    }
    b {
      font-size: 2.4rem;
      font-weight: 600;
    }
    p.small {
      color: $gray-700;
    }
  }
  .input {
    width: 40%;
    @media (max-width: 800px) {
      width: 60%;
      margin-inline: 0;
    }
    align-items: center;
    background-color: $primary-white;
    align-items: center;
    border-radius: 5rem;
    height: 5rem;
    justify-content: space-between;
    padding-left: 2.4rem;
    margin-inline: 12rem 4rem;
    .btn {
      background-color: $primary-green;
      color: $primary-white;
    }
    input {
      font-size: 1.6rem;
      line-height: 150%;
      letter-spacing: 0%;
      border: none;
      outline: none;
    }
  }
  .icons {
    width: 20%;
    gap: 2.4rem;
    img {
      width: 1.8rem;
    }
  }
}
