.hero {
  margin-block: 2.4rem;
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  @media (max-width: 880px) {
    flex-direction: column;
  }
  &-left {
    @media (max-width: 880px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      background-position: center;
    }
    width: 70%;
    background-image: linear-gradient(
        98.82deg,
        rgba(0, 0, 0, 0.6) 10.4%,
        rgba(0, 0, 0, 0) 59.43%
      ),
      url(./../assets/images/smilingGirl.jpg);

    padding: 15rem 6rem;
    border-radius: 10px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      font-family: $poppins;
      font-weight: 600;
      font-size: 4.8rem;
      line-height: 120%;
      letter-spacing: 0%;
      color: $primary-white;
      width: 50%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .xl {
      font-family: $poppins;
      font-weight: 500;
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0%;
      color: $primary-white;
      span {
        padding: 0.4rem 1.2rem;
        background-color: $primary-orange;
        border-radius: 0.5rem;
      }
    }
    p.small {
      font-family: $poppins;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 150%;
      letter-spacing: 0%;
      color: $primary-white;
    }
    div {
      margin-block: 2.8rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      border-left: 2px solid $primary-green;
      padding-left: 1.2rem;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    @media (max-width: 880px) {
      flex-direction: row;
      width: 100%;
    }
    gap: 2.4rem;
    width: 30%;
    &_top {
      @media (max-width: 880px) {
        width: 50%;
        height: 100%;
      }
      height: 50%;
      background-image: url(./../assets/images/shopper.png);
      border-radius: 1rem;
      padding: 3.2rem;
      .btn {
        padding: 0;
        margin-top: 2.4rem;
      }

      p.small {
        color: $gray-600;
      }

      .uppercase {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 3%;
        text-transform: uppercase;
      }
      h5 {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 120%;
        letter-spacing: 0%;
        margin-block: 0.8rem 1.2rem;
      }
    }
    &_bottom {
      @media (max-width: 880px) {
        width: 50%;
        height: 100%;
      }
      height: 50%;
      padding-block: 2rem;
      background-image: url(./../assets/images/leaves.png);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      color: $primary-white;
      h5 {
        width: 80%;
      }
    }
  }
}

.qualities {
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 40px 0px #00260314;
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 4rem;
  justify-content: space-between;
  @media (max-width: 690px) {
    flex-wrap: wrap;
    gap: 2rem;
    align-items: starts;
  }

  &-box {
    gap: 1.6rem;
    b.medium {
      font-size: 1.6rem;
      color: $gray-800;

      font-weight: 600;
      font-size: 1.6rem;
      line-height: 120%;
      letter-spacing: 0%;
    }

    p.small {
      color: $gray-400;
      font-size: 1.4rem;
    }
    img {
      width: 3.5rem;
    }
  }
}

.categories {
  margin-block: 6rem;
  &-top {
    .btn {
      padding: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.2rem;
    justify-content: space-between;
    row-gap: 2.4rem;
    &_box {
      width: 20rem;
      img {
        width: 80%;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.6rem;
      padding: 2rem 0 2.9rem;
      border: 1px solid #e6e6e6;
      border-radius: 0.5rem;
    }
  }
}

.popular {
  margin-block: 6rem;
  &-top {
    .btn {
      padding: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_box {
      position: relative;
      width: 26rem;
      border: 1px solid #e6e6e6;
      padding: 1.2rem;
      p.small {
        color: $gray-700;
      }
      .position {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        background-color: $gray-200;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: centers;
        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.deals {
  display: flex;
  gap: 2.4rem;
  @media (max-width: 1100px) {
    flex-direction: column;
  }

  &-box {
    width: 33%;
    @media (max-width: 1100px) {
      width: 100%;
      justify-content: center;
      padding-bottom: 4rem;
    }
    border-radius: 0.8rem;
    padding-block: 3.5rem 29rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .uppercase {
      color: $primary-white;
    }
    h3 {
      font-weight: 600;
      font-size: 4rem;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: center;
      color: $primary-white;
      margin-block: 1.6rem 0.8rem;
    }
    .btn {
      margin-top: 2.4rem;
    }
    &.first {
      background-image: url(./../assets/images/avocado.png);

      .time {
        width: 70%;
        &-top {
          p {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            color: $primary-white;
          }
        }
        &-bottom {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 100%;
          letter-spacing: 3%;
          text-align: center;
          text-transform: uppercase;
          color: $primary-white;
          opacity: 0.8;
        }
      }
    }
    &.second {
      background-image: url(./../assets/images/meat.png);
      .large {
        color: $primary-white;
        span {
          color: $primary-orange;
        }
      }
    }
    &.third {
      background-image: url(./../assets/images/pokaDots.png);
      .uppercase,
      h3 {
        color: $gray-800;
      }
      span {
        background-color: $gray-800;
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        color: $primary-yellow;
      }
    }
  }
}

.hot {
  margin-block: 12rem;
  &-top {
    .btn {
      padding-right: 0;
      align-items: center;
    }
  }
  &-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "big big one two three"
      "big big four five six"
      "seven eight nine ten eleven";

    &_box {
      position: relative;
      width: 26rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #e6e6e6;
      padding: 1.2rem;
      p.small {
        color: $gray-700;
      }
      &.big {
        width: 100%;
        height: 65rem;
        grid-area: big;
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
          background-color: $primary-green;
          color: $primary-white;
          width: 80%;
          display: flex;
          justify-content: center;
        }
        .large {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 150%;
          letter-spacing: 0%;
          text-align: center;
          color: $primary-green;
          margin-block: 2.4rem 0.8rem;
        }
        .price {
          font-weight: 500;
          font-size: 2.4rem;
          line-height: 150%;
          letter-spacing: 0%;
        }
        .aware {
          font-family: Poppins;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.8rem;
          letter-spacing: 0%;
          text-align: center;
          color: $gray-600;
          margin-block: 2rem 1rem;
        }
        .time {
          margin-bottom: 4rem;

          width: 70%;
          &-top {
            p {
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 150%;
              letter-spacing: 0%;
              text-align: center;
              color: $gray-700;
            }
          }
          &-bottom {
            font-weight: 400;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: uppercase;
            color: $gray-600;
            opacity: 0.8;
          }
        }
      }
      .position {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        background-color: $gray-200;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: centers;
        img {
          width: 1.5rem;
        }
      }
    }
    .one {
      grid-area: one;
    }
    .two {
      grid-area: two;
    }
    .three {
      grid-area: three;
    }
    .four {
      grid-area: four;
    }
    .five {
      grid-area: five;
    }
    .six {
      grid-area: six;
    }
    .seven {
      grid-area: seven;
    }
    .eight {
      grid-area: eight;
    }
    .nine {
      grid-area: nine;
    }
    .ten {
      grid-area: ten;
    }
    .eleven {
      grid-area: eleven;
    }
  }
}
